h1{
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgb(197, 34, 34), #472121);
    color: rgb(255, 255, 255);
    text-align:right;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
  .header2 {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background: linear-gradient(to right, rgb(197, 34, 34), #472121);
  padding: 10px 30px;
  border-radius: 15px;
  box-shadow: 0 px 4px rgba(0,0,0,0.1);
}


.menu{
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: #333;
}



.auth-buttons {
  margin-right: auto;
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.login-btn{
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: bold;
  transition: all 0.3s ease;
  text-decoration: none;
}

.login-btn {
  background: white;
  color: #472121;
}

.login-btn:hover {
  background: #f2dcdc;
  color: #472121;
}