body{ 
  margin: 0;
  font-family: "Vazirmatn", sans-serif;
  background-color: #f8f8f8;
  direction: rtl;
  position: relative;
}   
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('IMG_20251028_011541_875.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(2px);      
  z-index: -1;             
}

.content {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center; 
  padding: 20px;
}

.box {
  background:rgb(255, 238, 197);
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 5px;
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.box:hover {
  transform: translateY(5px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}


.box h2 {
  color:black;
  font-style:unset;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
}

.box p {
  color: #555;
  font-size: 15px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style:unset;
}
/* بخش معرفی */
.intro {
  background: rgba(255, 255, 255, 0.8);
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.intro h2 {
  color: #b30021;
  margin-bottom: 10px;
}

/* گالری */
.gallery {
  text-align: center;
  margin-top: 40px;
}

.gallery-items {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 90%;
  margin: auto;
}

.gallery-items img {
  width: 100%;
  border-radius: 15px;
  border: 2px solid rgba(255,255,255,0.8);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.gallery-items img:hover {
  transform: scale(1.05);
}

/* فوتر */
footer {
  background: rgba(0,0,0,0.7);
  color: white;
  margin-top: 40px;
  padding: 30px 10px;
  backdrop-filter: blur(4px);
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-box {
  min-width: 200px;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li a {
  color: #ffdad8;
  text-decoration: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  border-top: 1px solid #bbb;
  padding-top: 10px;
}


  